#homepage {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: white;
	height: 100vh;
	background-color: #47525d;
}

#homepage > .center-align > a {
	text-decoration: none;
}
